#menu-bar {
    width:95%;
    margin: 0;
    padding: 6px 6px 0 6px;
    height:34px;
    line-height: 100%;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    box-shadow: 2px 2px 3px #666666;
    -webkit-box-shadow: 2px 2px 3px #666666;
    -moz-box-shadow: 2px 2px 3px #666666;
    background: #8b8b8b; /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#a9a9a9), to(#7a7a7a)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #a9a9a9,  #7a7a7a); /* for firefox 3.6+ */
    border: solid 1px #6d6d6d;
    position:relative;
    z-index:999;
    margin: 10px 0 0 2%;
}
#menu-bar li {
    margin: 0 0 6px 0;
    padding: 0 6px 0 6px;
    float: left;
    position: relative;
    list-style: none;
}
/* main level link */
#menu-bar a {
    font-weight: bold;
    font-size:12px;
    color: #e7e5e5;
    text-decoration: none;
    display: block;
    padding:  6px 20px;
    margin: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    text-shadow: 2px 2px 3px #000000;
}
/* main level link hover */
#menu-bar .active a, #menu-bar li:hover > a {
    background: #d1d1d1; /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #ebebeb,  #a1a1a1); /* for firefox 3.6+ */
    color: #444;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, .8);
}
/* sub levels link hover */
#menu-bar ul li:hover a, #menu-bar li:hover li a {
    background: none;
    border: none;
    color: #666;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
#menu-bar ul a:hover {
    background: #0399d4 !important; /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)) !important; /* for webkit browsers */
    background: -moz-linear-gradient(top,  #04acec,  #0186ba) !important; /* for firefox 3.6+ */
    color: #fff !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
/* level 2 list */
#menu-bar ul {
    background: #ddd; /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cfcfcf)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fff,  #cfcfcf); /* for firefox 3.6+ */
    display: none;
    margin: 0;
    padding: 0;
    width: 185px;
    position: absolute;
    top: 34px;
    left: 0;
    border: solid 1px #b4b4b4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
/* dropdown */
#menu-bar ul:hover > ul {
    display: block;
}
#menu-bar li:hover > ul {
    display: block;
}
#menu-bar ul li {
    float: none;
    margin: 0;
    padding: 0;
}
#menu-bar ul a {
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
    padding:10px 0 10px 15px ;
}
/* rounded corners for first and last child */
#menu-bar ul li:first-child > a {
    -webkit-border-top-left-radius: 9px;
    -moz-border-radius-topleft: 9px;
    -webkit-border-top-right-radius: 9px;
    -moz-border-radius-topright: 9px;
}
#menu-bar ul li:last-child > a {
    -webkit-border-bottom-left-radius: 9px;
    -moz-border-radius-bottomleft: 9px;
    -webkit-border-bottom-right-radius: 9px;
    -moz-border-radius-bottomright: 9px;
}
/* clearfix */
#menu-bar:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#menu-bar {
    display: inline-block;
}
html[xmlns] #menu-bar {
    display: block;
}
* html #menu-bar {
    height: 1%;
}
