<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/resources/menu.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/resources/base.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/resources/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/resources/bootstrap-select.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/resources/datepicker.css" media="screen" />
    <script type="text/javascript" src="/resources/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/resources/bootstrap.min.js"></script>
    <script type="text/javascript" src="/resources/bootstrap-select.js"></script>
    <script type="text/javascript" src="/resources/bootstrap-datepicker.js"></script>
    <title>Gerenciador de Recursos</title>
</head>
<body>
    <div id='header'>
        <div id='left_image'>
            <img border="0" src="/resources/inf.jpg" width="90%" height="100">
        </div>
        <div id='center_header'>
        </div>
        <div id='right_image'>
            <img border="0" src="/resources/ufrgs.jpg" width="90%" height="100">
        </div>
    </div>
    <div id='page'>
        <ul id='menu-bar'>
            {% if features.home %}
            <li><a href="/home/"><span id='active'>Home</span></a></li>
            {% endif %}
            {% if features.room %}
            <li><a href="/room/list/"><span id='active'>Salas</span></a></li>
            {% endif %}
            {% if features.people %}
            <li><a href="/people/list/"><span id='active'>Pessoas</span></a></li>
            {% endif %}
            {% if features.device or features.categorydevice %}
            <li>
                <a href="#">Dispositivos</a>
                <ul style='margin-top: -5px;'>
                    {% if features.device %}
                    <li>
                        <a href="/device/list/"><span id='active'>Dispositivos</span></a>
                    </li>
                    {% endif %}
                    {% if features.categorydevice %}
                    <li>
                        <a href="/categorydevice/list/"><span id='active'>Categoria de Dispositivo</span></a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            {% if features.institution %}
            <li><a href="/institution/list/"><span id='active'>Instituições</span></a></li>
            {% endif %}
            {% if features.occupacy_report or features.period_report %}
            <li>
                <a href="#">Relatório</a>
                <ul style='margin-top: -5px;'>
                {% if features.occupacy_report %}
                    <li><a href="/reports/occupacy_report/"><span id='active'>Ocupação</span></a></li>
                {% endif %}
                {% if features.period_report %}
                    <li><a href="/reports/period_report/"><span id='active'>Período</span></a></li>
                {% endif %}
                </ul>
            </li>
            {% endif %}
            {% if features.user or features.profile %}
            <li>
                <a href="#">Gerenciar</a>
                <ul style='margin-top: -5px;'>
                    {% if features.user %}
                    <li>
                        <a href="/user/list/"><span id='active'>Usuários</span></a>
                    </li>
                    {% endif %}
                    {% if features.profile %}
                    <li>
                        <a href="/profile/list/"><span id='active'>Perfis</span></a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            <li style="float: right"><a href="/logout/"><span id='active'>Sair</span></a></li>
        </ul>
        <div id='content'>
        {% block content %}{% endblock %}
        </div>
        <div id='footer'>
            <span>Copyright 2013 INF - UFRGS (UFRGS, Guilherme Martini) Usage policies apply.</span>
        </div>
    </div>
</body>
</html>

