{% extends "base.html" %}

{% block content %}
<div id='title'>
</div>
<div id='form_div'>
    <h3>Baia</h3>
    <form id='form' action='/stall/edit/' method='post'>
        <input id='is_submit' name='is_submit' type='hidden' value="True">
        <input id='id' name='id' type='hidden'>
        <input id='room' name='room' type='hidden'>
        <ul>
            {{ fields }}
        </ul>
        <input type='submit' value="Salvar">
    </form>
</div>
{% if stall and stall.id %}
<div id='list'>
    <div id='list_title'>
        <h3>Bolsistas</h3>
        <ul id='add_button'>
            <li class='active'>
                <a href='/trainee/edit/'><span>ADD</span></a>
            </li>
        </ul>
    </div>
    <table>
        <tr>
        {% for header_name in header_name_list %}
            <th>{{ header_name }}</th>
        {% endfor %}
        </tr>
    {% for trainee in trainee_list %}
        <tr>
            <td>{{ trainee.name }}</td>
            <td>{{ trainee.date_start }}</td>
            <td>{{ trainee.date_finish }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endif %}
{% endblock %}
