{% extends "base.html" %}

{% block content %}
<script src="/resources/list.js"></script>
<script src="/resources/edit.js"></script>
<script src="/resources/security/cryptoHelpers.js"></script>
<script src="/resources/security/crypto.js"></script>
<script src="/resources/security/aes.js"></script>
{% if messages %}
<div id='messages'>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<div id='title'>
</div>
<div id='form_div'>
    <h3>{{ page_title }}</h3>
    <form id='form' action='/{{ edit_name }}/edit/' method='post'>
        <ul>
            {{ fields }}
        </ul>
        {% if has_auxiliar_form %}
            <div id='wrapper'>
                <ul id='aux'>
                    {{ aux_fields }}
               </ul>
            </div>
        {% endif %}

        <div id='error-message' class="alert alert-danger" style="display:none; margin-top:10px;">
            
        </div>
        
        <div id="buttons">
            {% if has_back %}
                <input class='btn btn-inverse' onClick="linkTo('/{{ back_page_name }}/edit/', {{ parent_object_id }})" type='button' value="Voltar">
            {% endif %}
            {% if not has_back %}
                <input class='btn btn-inverse' onClick="linkTo('/{{ edit_name }}/list', '')" type='button' value="Voltar">
            {% endif %}
            <input type='submit' class='btn btn-primary btn-large' value="Salvar">
        </div>
    </form>
</div>

{% if has_list %}
<div id='list'>
    <div id='list_title'>
        <h3>{{ list_title }}</h3>
        <ul id='add_button'>
            <li class='active'>
                <button onclick="window.location='/{{ list_edit_name }}/edit/?parent_object_id={{ object_id }}';" class='btn btn-info'>Adicionar</button>
                <!--<a href='/{{ list_edit_name }}/edit/?parent_object_id={{ object_id }}'><span>ADD</span></a>-->
            </li>
        </ul>
    </div>
    <table class='table'>
        <thead>
        <tr>
        {% for header_name in header_name_list %}
            <th style='text-align: center;'>{{ header_name }}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for child_object in child_object_list %}
                <tr class='clickable'>
                {% for value in child_object.list_values %}
                    <td onClick="linkTo('/{{ list_edit_name }}/edit/', {{ child_object.id }})">{{ value }}</td>
                {% endfor %}
                <td onClick="if(confirm('Tem certeza que deseja apagar?'))linkTo('/{{ list_edit_name }}/remove/{{ child_object.id }}', '')"><span style="font-size: 130%;" class="glyphicon glyphicon-remove"></span></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
