{% extends "base.html" %}

{% block content %}
<div id='title'>
</div>
<div id='form_div'>
    <h3>Salas</h3>
    <form id='form' action='/room/edit/{{ room.id }}/' method='post'>
        <input id='id' name='id' type='hidden' value="{{ room.id }}">
        <ul>
            {{ room_fields }}
        </ul>
        <input type='submit' value="Salvar">
    </form>
</div>
{% if room and room.id %}
<div id='list'>
    <div id='list_title'>
        <h3>Baias</h3>
        <ul id='add_button'>
            <li class='active'>
                <a href='/stall/edit/?id_room={{ room.id }}'><span>ADD</span></a>
            </li>
        </ul>
    </div>
    <table>
        <tr>
        {% for header_name in header_name_list %}
            <th>{{ header_name }}</th>
        {% endfor %}
        </tr>
    {% for stall in stall_list %}
        <tr>
            <td>{{ stall.computer.patrimony_number }}</td>
            <td>{{ stall.leader.name }}</td>
            <td>{{ stall.obs }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endif %}
{% endblock %}
