{% extends "base.html" %}
{% load pagination_tags %}

{% block content %}
<script src="/resources/list.js"></script>
<div id='table_content'>
    <div id='table_title'>
        <h3>{{page_title}}</h3>
        <ul id='add_button'>
            <li class='active'>
                    <button onclick="window.location='/{{ edit_name }}/edit/';" class='btn btn-info'>Adicionar</button>
                <!--<a href='/{{ edit_name }}/edit/'><span>ADD</span></a>-->
            </li>
        </ul>
    </div>
    <table class="table">
        <thead>
        <tr>
        {% for header_name in header_name_list %}
            <th style='text-align: center'>{{ header_name }}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% autopaginate object_list 10 %}
            {% for object in object_list %}
                <tr class='clickable'>
                {% for value in object.list_values %}
                    <td onClick="linkTo('/{{ edit_name }}/edit/', {{ object.id }})">{{ value }}</td>
                {% endfor %}
                {% if can_remove %}
                    <td onClick="if(confirm('Tem certeza que deseja apagar?'))linkTo('/{{ edit_name }}/remove/{{ object.id }}', '')"><span style="font-size: 130%;" class="glyphicon glyphicon-remove"></span></td>
                {% endif %}
                </tr>
            {% endfor %}
        <tbody>
    </table>
    {% paginate %}
</div>
{% endblock %}
