{% extends "base.html" %}

{% block content %}
<script src="/resources/list.js"></script>
<div id='table_content'>
    <div id='table_title'>
        <h3>Salas</h3>
        <ul id='add_button'>
            <li class='active'>
                <a href='/{{ edit_name }}/edit/'><span>ADD</span></a>
            </li>
        </ul>
    </div>
    <table>
        <tr>
        {% for header_name in header_name_list %}
            <th>{{ header_name }}</th>
        {% endfor %}
        </tr>
    {% for object in object_list %}
        <tr class='clickable'>
        {% for value in object.list_values %}
            <td onClick="linkTo('/{{ edit_name }}/edit/', {{ object.id }})">{{ value }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
