{% extends "base.html" %}
{% load pagination_tags %}

{% block content %}
<script src="/resources/report.js"></script>
<div id="filter" style="margin-top: 10px;">
    <label style="float: left; margin-left: 10px; height: 15px; line-height: 33px;">Filtro</label>
    <select style="width: 25%; float: left; margin-left: 10px;" class='form-control' id="filterKind">
        {% for filter_name in filters %}
            <option value="{{ filter_name.Valor }}">{{ filter_name.Nome }}</option>
        {% endfor %}
    <select>
    <input id="filterText" style="width: 25%; float: left; margin-left: 10px;" class='form-control' name="filterText"/>
    <input type="hidden" id="acumulatedFilter" name="acumulatedFilter" value='{{ acumulated_value }}'>
    <button style="float:left; margin-left: 10px;" class='btn btn-info' id="filterButton" type="button"> Filtrar </button>
</div>
<div>
    <ul id="choosen_filters">
    </ul>
</div>
<div id='table_content'>
    <div id="wrapper">
        <div id='table_title' style="float: left; width: auto;">
            <h3>{{page_title}}</h3>
        </div>
        <div style="float: right; margin-right: 65px; margin-top: 20px;">
            <input type="hidden" id="reportUrl" name="reportUrl" value='{{ report_url }}'>
            <button class='btn btn-default' id="reportButton">Gerar Relatório</button>
        </div>
    </div>
    <table id="list_table" class='table tablesorter'>
        <thead>
        <tr>
        {% for header_name in header_name_list %}
            <th class="header" style="text-align: center;">{{ header_name }}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% autopaginate object_list 10 %}
            {% for object in object_list %}
                <tr class='clickable'>
                {% for value in object.list_values %}
                    <td>{{ value }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
    </tbody>
    </table>
    {% paginate %}
</div>
{% endblock %}
